# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------
*.bak
*~
Thumbs.db
.DS_Store

# -----------------------------------------------------------------------------
# VS Code specific
# -----------------------------------------------------------------------------
.vscode/
*.code-workspace

# -----------------------------------------------------------------------------
# Python / MicroPython
# -----------------------------------------------------------------------------
__pycache__/
*.pyc
*.mpy
/venv/
/env/
/.venv/
/.env/
*.bin
.micropy/
.pymakr/
.micropico/